---
---

@import "{{ site.theme }}";
body {
  font-family: "Quicksand", Helvetica, Arial, sans-serif;
}

/*-------menu----------------*/
.menustyle{
width: 100%;
height: 100%;
font-weight: bold;
background: url(menubar.png) center center repeat-x; /*THEME CHANGE HERE*/
}

.menustyle:after{ /*Add margin between menu and rest of content in Firefox*/
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

.menustyle ul{
border: 0px solid #BBB;
width: 100%;
padding: 12px 0;
margin: 0;
text-align: right; /*set value to "left", "center", or "right"*/
}

.menustyle ul li{
display: inline;
}

.menustyle ul li a{
color: #3d3d3d;
padding: 8px 10px;
margin: 0;
text-decoration: none;
font-weight: 300;
text-decoration: none;  
font-size: 16px;
text-transform: none;
}

.menustyle ul li a:hover, .menustyle ul li a.selected{ /*script dynamically adds a class of "selected" to the current active menu item*/
color: #fff;
padding: 8px 10px;
margin: 0;
text-decoration: none;
font-weight: 300;
text-decoration: none;  
font-size: 16px;
text-transform: none;
background-color: #009aff;
}
/*------menu closed-----*/

/* section header -----------------------*/
.section_head {font-size:16px; font-weight: 400; color: #252525; line-height: 160%; padding: 0px; #background-color: #000; border: 0px solid #fff; margin: 0px;}
.section_head h1 {font-size: 60px; font-weight: 700; text-transform: uppercase; padding-bottom: 5px; color: #000; text-align: center; line-height: 120%;}
.section_head h2 {font-size: 40px; font-weight: 400; padding-bottom: 4px; padding-top: 8px; color: #000; text-align: center;}
.section_head h3 {font-size: 35px; font-weight: 400; padding-bottom: 4px; padding-top: 8px; color: #000}
.section_head h5 {font-size: 30px; font-weight: 400; padding-bottom: 4px; color: #19b900; text-align: right;}
.section_head p {padding-bottom: 0px; padding-top: 0px; }
.section_head p span {font-weight: 700;}
.section_head a {
  color: #009aff;
  padding: 8px 10px;
  margin: 0;
  text-decoration: none;
  font-weight: 400;
  text-decoration: none;  
  font-size: 16px;
}
.section_head a:hover {
  color: #fff;
  padding: 8px 10px;
  margin: 0;
  text-decoration: none;
  font-weight: 400;
  text-decoration: none;  
  font-size: 16px;
  background-color: #009aff;
}
/*------section header-----*/

.site-footer{padding-top:0rem;margin-top:0rem;border-top:solid 0px #eff0f1}@media screen and (min-width: 64em){.site-footer{font-size:1rem}}@media screen and (min-width: 42em) and (max-width: 64em){.site-footer{font-size:1rem}}@media screen and (max-width: 42em){.site-footer{font-size:0.9rem}}.site-footer-owner{display:block;font-weight:bold}.site-footer-credits{color:#819198}
