<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="description" content="colorvibes">
    <meta name="keywords" content="colorvibes, colorvibes studio, do it in a better way, webdesign, web development, website, graphics design">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet" type='text/css'>      
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
  </head>
  <body>
    <!--- section class="page-header" -->
      <!--- h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1> -->
      <!--- h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2> -->
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    <!--- /section -->
<!--- custom content -->
<a id="home"></a>
<table width="100%" cellspacing=0 cellpadding=0 border=0 style="padding: 0px; background-color: #eee; ">
<tr>
<td align=center>

<table width="966px" cellspacing=0 cellpadding=0 border=0 style="padding: 0px; ">
<tr>
<td width=50% align=left>
<!--Start top nav Div-->
<div >
	<a href="./" id="home_old">
	<!center>
	<div  style="background:url(images/colorvibes-logo_v7.png) no-repeat left center; width: 215px; height: 57px; margin-bottom: 10px; margin-top: 20px;">
	</div>
	</a>
	</center>
</div>

</td>
<td width=50% valign=bottom align=right>
	<div class="menustyle" id="menustyle" >
	<ul>		
		<li><a href="#about" data-scroll data-speed="700">About</a></li>
		<li><a href="#services" data-scroll data-speed="700">Services</a></li>
		<li><a href="#contact" data-scroll data-speed="700">Contact</a></li>
	</ul>
	</div>
</td>
</tr>
</table>
<!--End top nav Div-->

</td>
</tr>
</table>

<!--Start Home Main Div-->
<div id="home_main_div" >
	<!--Start Main Div 1-->
	<div id="main_div_1">
		<!--Start Page Container-->
		<div id="page_container">
<table width="100%" cellspacing=0 cellpadding=0 border=0 style="padding: 0px; ">
<tr>
<td align=center style="padding : 0px;">
	<div style="padding: 0px; margin: 0px;
	background:url(images/colorvibes-bg-103.jpg) no-repeat center center; 
	-moz-background-size:cover;
	-o-background-size:cover;
	webkit-background-size:cover;
	background-size:cover;
	height:600px;
	margin-top:-2px;
	overflow:hidden;
	position:relative;
	-ms-background-size:cover;">
		<table width="966px" cellspacing=0 cellpadding=0 border=0 style="padding: 0px; ">
		<tr>
		<td align=left>	
			<div class="section_head">
				<p style="padding-top: 70px">				
				<h1>Let the world visit your Business</h1>			
				</p>				
			</div>
		</td>
		</tr>
		</table>
	</div>
	
	<a id="about">&nbsp</a>
	<div style="padding: 0px; margin: 0px;
	background-color: #eee;
	background:url(images/colorvibes-bg-idea-bulb.jpg) no-repeat center center; 
	-moz-background-size:cover;
	-o-background-size:cover;
	webkit-background-size:cover;
	background-size:cover;
	height:700px;
	margin-top:-24px;
	overflow:hidden;
	position:relative;
	-ms-background-size:cover;">
		<table width="966px" cellspacing=0 cellpadding=0 border=0 style="padding: 0px; ">
		<tr>
		<td align=left>		
			<div class="section_head">
				<p>				
				<h2>The Creative Hub</h2>				
				</p>			
				<p>
				Stop your search for right media development team. We <span>colorvibes</span> (Formerly <b>colorvibes studio</b>) provide support in professional web development, designs, graphics, logo designing, media infrastructure and much more. We offer cost effective solutions for all your design needs.
				At <span>colorvibes</span>, we can't compromise with just designs, logos or intro's; we believe in results. We intent to give our clients a multi-equiped hub for designs and promos. 
				</p>
				<p>
				<h3>Who we are </h3> 
				We are group of proffessionals, dedicated to provide media development support for you. we are happy to assist you by devoloping your promos and designs. We formed colorvibes to enable end users to migrate their activities / business to the next level by providing promo in new ways including web, social media etc. 
				</p>
				<div style="width: auto; text-align: right; padding-top: 20px;"><a href="#home" data-scroll data-speed="700">Home</a></div>
			</div>
		</td>
		</tr>
		</table>
	</div>


	<a id="services">&nbsp</a>
	<div style="padding: 0px; margin: 0px;
	background-color: #eee;
	background:url(images/colorvibes-bg-service-lap.jpg) no-repeat center center; 
	-moz-background-size:cover;
	-o-background-size:cover;
	webkit-background-size:cover;
	background-size:cover;
	height:900px;
	margin-top:-24px;
	overflow:hidden;
	position:relative;
	-ms-background-size:cover;">
		<table width="966px" cellspacing=0 cellpadding=0 border=0 style="padding: 0px; ">
		<tr>
		<td align=left>		
			<div class="section_head">
				<p>				
				<h2>What can we do for you</h2>				
				</p>			
				<p>
				At colorvibes, we are focused on end-user comfort and satisfaction not only in our service but also in the results. We offer cost effective design solutions by our design group. We do Webdesign and Re-Design, Managed websites, CMS sites, Web Applications, Dynamic Online Magazines, Social Media & Email Marketing etc.
				</p>			
				
			</div>
			<table width="966px" cellspacing=0 cellpadding=0 border=0 style="padding: 0px; ">
			<tr>
			<td align="left" width="30%" valign="top">	
				<div class="section_head">
					<h3>Web Services</h3>
					<li>Design and re-design of websites
					<li>Managed websites
					<li>CMS sites - Content Management sites with latest technologies in the web, like Joomla, drupal, mambo etc.
					<li>Web applications - Web-based remote and online applications for make it eazy to administor and manage, using php and mysql.
					<li>Dynamic Online Magazines - It enable you to manage and run your own online magazine without any efforts in content management. You don't even need to know about the web basics.
					<li>Blog Designs - Implement and maintain your blog sites, choose your own templates and styles and make it live always.
					<li>Newsletters & Email Marketing
				</div>
			</td>
			<td align=left width=5%>&nbsp</td>
			<td align="left" width="30%" valign="top">	
				<div class="section_head">
					<h3>Design</h3>
					<li>logo design
					<li>branding - Branding services include, logo designing, captions and media packages.
					<li>illustrations - Making Corporate, Vector, Informative Illustrations.
					<li>publishing support - Design, PageLayout and Publishing of Books, Magazines, Brochures.
					<li>Presentations - Corporate and Informative Presentations.				
					<li>Cover Design - Books, Magazines etc.
					<li>Product Design - Product Package Design, Packets, Covers.
					<li>Posters & Show Cards.
					<li>Business Cards
					<li>Newsletter Layouts
					<li>Catalogues
				</div>
			</td>
			<td align=left width=5%>&nbsp</td>
			<td align="left" width="30%" valign="top">	
				<div class="section_head">
					<h3>Media</h3>
					<li>corporate presentations - Using flash, presentation softwares.
					<li>e-publications - e-magazines, e-books, e-catelogues.
					<li>PDF handling - HighQuality PDF Creation.
					<li>Interactive softwares
					<li>Flash Animation
				</div>
			</td>
			</tr>
			</table>
			<div class="section_head">
				<div style="width: auto; text-align: right; padding-top: 20px;"><a href="#home" data-scroll data-speed="700">Home</a></div>
			</div>
		</td>
		</tr>
		</table>
	</div>


	<a id="contact">&nbsp</a>
	<div style="padding: 0px; margin: 0px;
	background-color: #eee;
	background:url(images/colorvibes-bg-contact.jpg) no-repeat center center; 
	-moz-background-size:cover;
	-o-background-size:cover;
	webkit-background-size:cover;
	background-size:cover;
	height:692px;
	margin-top:-24px;
	overflow:hidden;
	position:relative;
	-ms-background-size:cover;">
		<table width="966px" cellspacing=0 cellpadding=0 border=0 style="padding: 0px; ">
		<tr>
		<td align=left>		
			<div class="section_head">
				<p>				
				<h2>Contact</h2>
				<br>
				</p>			
				<p>
				<span>Question or Queries ? </span><br>
				Please send us your businesss/personal letter now. We are more than happy to receive suggestions and ideas from you.
				<br>				
				</p>
				<p>
				Design Team : <a href="mailto:design@colorvibes.in" >design@colorvibes.in</a>
				</p>
				<p>
				Any other business : <a href="mailto:works@colorvibes.in" >works@colorvibes.in</a>
				</p>
				<div style="width: auto; text-align: left; padding-top: 200px;">&nbsp</div>
			</div>
		</td>
		</tr>
		</table>
	</div>	

	<a id="footer">&nbsp</a>
	<div style="padding: 0px; margin: 0px;
	background-color: #eee;
	background:url(images/bbg-idea-bulb.jpg) no-repeat center center; 
	-moz-background-size:cover;
	-o-background-size:cover;
	webkit-background-size:cover;
	background-size:cover;
	height:60px;
	margin-top:-15px;
	overflow:hidden;
	position:relative;
	-ms-background-size:cover;">
		<table width="966px" cellspacing=0 cellpadding=0 border=0 style="padding: 0px; ">
		<tr>
		<td align=left>	
		  <div class="section_head">				
			<footer class="site-footer">
			{% if site.github.is_project_page %}
			  <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
			{% endif %}
			<span class="site-footer-owner"><a href="./">Angel Kolarad 2018 </a> | <a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
			<span class="site-footer-credits">Hosted on <a href="https://pages.github.com">GitHub Pages</a>.</span>
		      </footer>
				
		  </div>
		</td>
		</tr>
		</table>
	</div>

</td>
</tr>
</table>  
</div>
<!--- end of custom content -->

    <!--- section class="main-content"> {{ content }} -->

    <!--- /section -->

    {% if site.google_analytics %}
     <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-54792882-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-54792882-1');
</script>

    {% endif %}
  </body>
</html>
