<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="description" content="Angel Kolarad">
    <meta name="keywords" content="Angel Kolarad, Arts and Sports club">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">       
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-54792882-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-54792882-1');
</script>

  </head>
  <body>
    <!--- section class="page-header" -->
      <!--- h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1> -->
      <!--- h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2> -->      
    <!--- /section -->

<!--- custom content -->
<a id="home"></a>
<table width="100%" cellspacing=0 cellpadding=0 border=0 style="padding: 0px; background-color: #eee; ">
<tr>
<td align=center>

<table width="966px" cellspacing=0 cellpadding=0 border=0 style="padding: 0px; ">
<tr>
<td width=50% align=left>
<!--Start top nav Div-->
<div >
	<a href="./" id="home_old">	
	<div  style="background:url(images/logo_v7.png) no-repeat left center; width: 315px; height: 50px; margin-bottom: 0px; margin-top: 20px;">
		<h1>Angel Kolarad</h1>		
	</div>
	</a>
	<h3>Arts & Sports Club</h3>
	</center>
</div>

</td>
<td width=50% valign=bottom align=right>
	&nbsp
</td>
</tr>
</table>
<!--End top nav Div-->

</td>
</tr>
</table>

<!--Start Home Main Div-->
<div id="home_main_div" >
	<!--Start Main Div 1-->
	<div id="main_div_1">
		<!--Start Page Container-->
		<div id="page_container">
<table width="100%" cellspacing=0 cellpadding=0 border=0 style="padding: 0px; ">
<tr>
<td align=center style="padding : 0px;">
	
	<a id="about">&nbsp</a>
	<div style="padding: 0px; margin: 0px;
	background-color: #eee;
	background:url(images/colorvibes-bg-idea-bulb.jpg) no-repeat center center; 
	-moz-background-size:cover;
	-o-background-size:cover;
	webkit-background-size:cover;
	background-size:cover;
	height:500px;
	margin-top:-24px;
	overflow:hidden;
	position:relative;
	-ms-background-size:cover;">
		<table width="966px" cellspacing=0 cellpadding=0 border=0 style="padding: 0px; ">
		<tr>
		<td align=left>		
			<div class="section_head">
				<p style="padding-top: 80px;">				
				<h2>Welcome to Angel Kolarad</h2>				
				</p>			
				<p>
				Angel Kolarad was formed with a view to encourage the arts and sports qualities of people around us.				
				</p>	
			
			<p style="padding-bottom: 100px;">&nbsp</p>
			<p>Email : <a href="mailto:angel.kolarad@gmail.com" >angel.kolarad@gmail.com</a></p>
			<p>Facebook : <a href="facebook.com/AngelKolara" >facebook.com/AngelKolara</a></p>			
			</div>
		</td>
		</tr>
		</table>
	</div>

	
	<a id="footer">&nbsp</a>
	<div style="padding: 0px; margin: 0px;
	background-color: #000;
		    padding-top: 20px;
		    text-align:center;
	-moz-background-size:cover;
	-o-background-size:cover;
	webkit-background-size:cover;
	background-size:cover;
	height:60px;
	margin-top:-15px;
	overflow:hidden;
	position:relative;
	-ms-background-size:cover;">
		<table width="966px" cellspacing=0 cellpadding=0 border=0 style="padding: 0px; ">
		<tr>
		<td align=left>	
		  <div class="section_head">				
			<footer class="site-footer">
			<span class="site-footer-owner"><a href="./">Angel Kolarad 2018 </a> | <a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a> | Hosted on <a href="https://pages.github.com">GitHub Pages</a>.</span>
		      </footer>
				
		  </div>
		</td>
		</tr>
		</table>
	</div>

</td>
</tr>
</table>  
</div>
<!--- end of custom content -->

    <!--- section class="main-content"> {{ content }} -->

    <!--- /section -->
     
  </body>
</html>
